*{
    box-sizing: border-box;
    margin:0;
    /* padding: 5px; */
    font-family: 'Roboto', sans-serif;
}

.container{
    width:80%;
    margin:auto;
    height: 100%;
}
.text-center{
    text-align: center;
}

/////// MIXINS
/* TITOLO */
@mixin title-rules{
    text-align: center;
    padding: 3rem 10px;
    width: 70%;
    margin: auto;
    line-height: 55px;
    font-weight: 600;
}

/* CARDS */
@mixin card-rules{
    width:400px;
    height: 250px;
    margin:10px;
    background-color: #FFE7D2;
    border: none;
    img{
        width:40%;
        height: 65%;
        margin:0 auto;
    }
    span{
        text-align: center;
        padding:20px;
    }
    .card-comment{
        margin: 10px;
        span{
            text-align: center;
            margin-left: 30px;
        }
    }
}
@mixin jumbo{
    justify-content: center;
    padding: 40px 0 70px 0;
    border-bottom: 1px solid grey;
}