main{
    .colored-cont{
        width:100%;
        /* height:1500px; */
        background-color: #FFE7D2;
    }  
    .main-title{

        h1{
            @include title-rules;
            padding:60px;

        }
        h2{
            @include title-rules;
            padding:60px;
        }
    }
    .card-section{
        justify-content: space-between;
        .card{

            @include card-rules
        }
    }

    /* JUMBO */
    .jumbo2{
        @include jumbo;
    }
    .jumbo3{
        @include jumbo;
        border-bottom: none;
        h2{
            text-align: center;
            font-weight: 800;
            padding-top: 60px;
        }
    }
    /* Feedback */
    .feedback{
        
        position: relative;
        justify-content: center;
        padding:20px;
        margin:10px;
        .slack-logo{
            position: absolute;
            left:57%;
            bottom:40%;
            img{
                width:50px;
                height: 50px;
                
            }
        }
        .feed-left{
            width:65%;
            margin:auto;
            img{
                width:90%;
                height:90%;
                box-shadow: 10px 10px 10px lightgray;
            }

        }
        .feed-right{
            padding:0 100px 0 20px;
            width:35%;
            h2{
                font-size: 3rem;
                font-weight: 800;
                padding-bottom: 20px;
            }
            p{
                padding-right: 100px;
                margin:20px 0;
                font-size: 2rem;
                padding: 20px 0;

            }
            a{
                padding: 20px 0;

                text-decoration: none;
                i{
                    margin-left: 3px;
                }
            }
        }
    }

}

